<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcg.mis.mapper.MisMerchantChargeTemplateReviewMapper">
  	
  	<sql id="BaseColumns">
        ${alias}.RID,
        ${alias}.MODIFY_RID,
        ${alias}.STATUS,
        ${alias}.REMARK,
        ${alias}.REVIEW_COMMENT,
        ${alias}.CREATE_OPERATOR_NAME,
        ${alias}.UPDATE_OPERATOR_NAME,
        ${alias}.CREATE_TIME,
        ${alias}.UPDATE_TIME
    </sql>
    
    <sql id="BaseColumnsNoAlias">
        RID,
		MODIFY_RID,
		STATUS,
		REMARK,
		REVIEW_COMMENT,
		CREATE_OPERATOR_NAME,
		UPDATE_OPERATOR_NAME,
		CREATE_TIME,
		UPDATE_TIME
    </sql>

    <insert id="insert">
        <selectKey keyProperty="rid" resultType="long" order="BEFORE">
            SELECT SEQ_MIS_MERCHANT_CHARGE_TEMPLATE_REVIEW.nextval from dual
        </selectKey>
        INSERT INTO MIS_MERCHANT_CHARGE_TEMPLATE_REVIEW(<include refid="BaseColumnsNoAlias" />) 
        VALUES (
          #{rid, jdbcType=DECIMAL},
          #{modifyRid, jdbcType=DECIMAL},
          #{status, jdbcType=DECIMAL},
          #{remark, jdbcType=VARCHAR},
          #{reviewComment, jdbcType=VARCHAR},
          #{createOperatorName, jdbcType=VARCHAR},
          #{updateOperatorName, jdbcType=VARCHAR},
          SYSTIMESTAMP,
          SYSTIMESTAMP)
    </insert>
    
    <update id="update">
        UPDATE MIS_MERCHANT_CHARGE_TEMPLATE_REVIEW SET
			MODIFY_RID = #{modifyRid, jdbcType=DECIMAL},
			STATUS = #{status, jdbcType=DECIMAL},
			REMARK = #{remark, jdbcType=VARCHAR},
			REVIEW_COMMENT = #{reviewComment, jdbcType=VARCHAR},
			UPDATE_OPERATOR_NAME = #{updateOperatorName, jdbcType=VARCHAR},
			UPDATE_TIME = SYSTIMESTAMP
		WHERE RID = #{rid, jdbcType=DECIMAL}
    </update>
    
    <select id="findByCondition" resultType="MisMerchantChargeTemplateReview">
    	select <include refid="BaseColumns" ><property name="alias" value="mc"/></include> 
    	from MIS_MERCHANT_CHARGE_TEMPLATE_REVIEW mc 
    	INNER JOIN MIS_MERCHANT_CHARGE_TEMPLATE_MODIFY tm on tm.RID = mc.MODIFY_RID
    	LEFT JOIN MIS_MERCHANT_CHARGE_TEMPLATE ct ON ct.RID = tm.template_rid
    	<if test="condition.merchantCode != null" >
   	        INNER JOIN MIS_MERCHANT_CHARGE_CONFIG cc ON cc.template_rid = tm.template_rid AND cc.merchant_code = #{condition.merchantCode}
   	    </if>
    	<where> 
    	    <if test="condition.templateName != null" >
    	        AND ct.NAME = #{condition.templateName}
    	    </if>
    	    <if test="condition.operator != null" >
    	        AND mc.CREATE_OPERATOR_NAME = #{condition.operator}
    	    </if>
    	    <if test="condition.startDate != null and condition.endDate != null " >
    	        AND mc.CREATE_TIME BETWEEN #{condition.startDate} AND #{condition.endDate}
    	    </if>
    	    <if test="condition.status != null" >
    	        AND mc.STATUS = #{condition.status}
    	    </if>
    	</where>
    </select>
    
    <select id="findOne" resultType="MisMerchantChargeTemplateReview">
    	select <include refid="BaseColumns" ><property name="alias" value="mc"/></include> 
    	from MIS_MERCHANT_CHARGE_TEMPLATE_REVIEW mc 
    	<where> 
	        AND mc.RID = #{rid}
    	</where>
    </select>
    
    <select id="findUnReviewById" resultType="MisMerchantChargeTemplateReview">
    	select <include refid="BaseColumns" ><property name="alias" value="mc"/></include> 
    	from MIS_MERCHANT_CHARGE_TEMPLATE_REVIEW mc 
    	<where> 
	        AND mc.RID = #{rid}
	        AND mc.STATUS = 0
    	</where>
    </select>
    
    <select id="findUnReviewByTemplateId" resultType="MisMerchantChargeTemplateReview">
    	select <include refid="BaseColumns" ><property name="alias" value="mc"/></include> 
    	from MIS_MERCHANT_CHARGE_TEMPLATE_REVIEW mc 
    	INNER JOIN MIS_MERCHANT_CHARGE_TEMPLATE_MODIFY mt ON mc.MODIFY_RID = mt.RID
    	<where> 
    	    AND mt.TEMPLATE_RID = #{templateRid}
	        AND mc.STATUS = 0
    	</where>
    </select>
    
</mapper>