<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcg.mis.mapper.MisMerchantChargeTemplateModifyMapper">
  	
  	<sql id="BaseColumns">
        ${alias}.RID,
        ${alias}.TEMPLATE_RID,
		${alias}.NAME,
		${alias}.TEMPLATE_TYPE,
		${alias}.STATUS,
		${alias}.CREATE_OPERATOR_NAME,
		${alias}.UPDATE_OPERATOR_NAME,
		${alias}.CREATE_TIME,
		${alias}.UPDATE_TIME
    </sql>
    
    <sql id="BaseColumnsNoAlias">
        RID,
        TEMPLATE_RID,
		NAME,
		TEMPLATE_TYPE,
		STATUS,
		CREATE_OPERATOR_NAME,
		UPDATE_OPERATOR_NAME,
		CREATE_TIME,
		UPDATE_TIME
    </sql>

    <insert id="insert">
        <selectKey keyProperty="rid" resultType="long" order="BEFORE">
            SELECT SEQ_MIS_MERCHANT_CHARGE_TEMPLATE_MODIFY.nextval from dual
        </selectKey>
        INSERT INTO MIS_MERCHANT_CHARGE_TEMPLATE_MODIFY(<include refid="BaseColumnsNoAlias" />) 
        VALUES (#{rid}, #{templateRid}, #{name}, #{templateType}, #{status}, #{createOperatorName}, #{updateOperatorName}, SYSTIMESTAMP, SYSTIMESTAMP)
    </insert>
    
    <update id="update">
        UPDATE MIS_MERCHANT_CHARGE_TEMPLATE_MODIFY SET
			NAME = #{name},
			TEMPLATE_RID = #{templateRid},
			TEMPLATE_TYPE = #{templateType},
			STATUS = #{status},
			UPDATE_OPERATOR_NAME = #{updateOperatorName},
			UPDATE_TIME = SYSTIMESTAMP
		WHERE RID = #{rid}
    </update>
    
    <select id="findByCondition" resultType="MisMerchantChargeTemplateModify">
    	select <include refid="BaseColumns" ><property name="alias" value="mc"/></include> 
    	from MIS_MERCHANT_CHARGE_TEMPLATE_MODIFY mc 
    	<where> 
    		AND mc.TEMPLATE_RID = #{templateRid}
    		AND mc.STATUS = #{status}
    		AND mc.UPDATE_TIME &lt; #{createTime}
    	</where>
    	order by mc.create_time desc
    </select>
    
    <select id="findOne" resultType="MisMerchantChargeTemplateModify">
    	select <include refid="BaseColumns" ><property name="alias" value="mc"/></include> 
    	from MIS_MERCHANT_CHARGE_TEMPLATE_MODIFY mc 
    	<where> 
	        AND mc.RID = #{rid}
    	</where>
    </select>
    
</mapper>