<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="package">com.tcg</Property>
        <Property name="fileName">tcg-mis.log</Property>
        <Property name="behaviorFileName">tcg-mis-behavior.log</Property>
        <Property name="pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] [%t][%C{1}.%M] (%F:%L) - %m%n</Property>
        <Property name="logPath">logs/</Property>
        <Property name="age">15d</Property>
    </Properties>

    <Appenders>

        <RollingFile name="R" fileName="${logPath}${fileName}"
                     append="true" filePattern="${logPath}${fileName}.%d{yyyy-MM-dd}">
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <!--<SizeBasedTriggeringPolicy size="100 MB"/>-->
                <!--<CronTriggeringPolicy schedule="0 0 0 * * ?"/>-->
            </Policies>

            <DefaultRolloverStrategy>
                <!--
                Nested conditions: the inner condition is only evaluated on files
                for which the outer conditions are true.
                -->
                <Delete basePath="${logPath}" maxDepth="2">
                    <IfFileName glob="${fileName}*"/>
                    <IfLastModified age="${age}"/>
                </Delete>
            </DefaultRolloverStrategy>

        </RollingFile>

        <RollingFile name="RollingBehavior" fileName="${logPath}behavior/${behaviorFileName}" append="true"
                     filePattern="${logPath}behavior/${behaviorFileName}.%d{yyyy-MM-dd}">

            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5p] - %m%n"/>

            <Policies>
                <TimeBasedTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 0 0 * * ?"/>
            </Policies>

            <DefaultRolloverStrategy>
                <!--
                Nested conditions: the inner condition is only evaluated on files
                for which the outer conditions are true.
                -->
                <Delete basePath="${logPath}" maxDepth="2">
                    <IfFileName glob="*/${behaviorFileName}*"/>
                    <IfLastModified age="${age}"/>
                </Delete>
            </DefaultRolloverStrategy>

        </RollingFile>

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>

    </Appenders>

    <Loggers>

        <!-- mybatis log -->
        <Logger name="com.tcg.mis.mapper" level="DEBUG"/>

        <!-- behavior log -->
        <Logger name="behaviorLog" level="INFO" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="RollingBehavior"/>
        </Logger>

        <!-- root log -->
        <Root level="INFO" additivity="false">
            <AppenderRef ref="R"/>
            <AppenderRef ref="STDOUT"/>
        </Root>

    </Loggers>

</Configuration>