<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--沒用的設定檔, 讓plugin可以找到設定-->
    <typeAliases>
        <package name="com.tcg.mis.model"/>
    </typeAliases>
</configuration>